* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.err {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fdd;
    color: #d00;
    font: 11px Menlo, monospace;
    white-space: pre-wrap;
}
#log {
    font: 11px Menlo, monospace;
    padding: 5px;
    outline: 1px solid red;
}
#app {
    outline: 1px solid #0f0;
    background: #aaa;
}

.top {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    background-color: #f5f5f5;
}

.bottom {
    border-top: 1px solid #eee;
    color: #767676;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 12px;
}

.container {
    width: 980px;
    margin: 0 auto;
}

a {
    color: #4078c0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.right {
    float: right;
}
